
section{
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    img{
        max-width: 80%;
        margin: auto;
        box-shadow: $sombras;
        margin-top: 15px;
    }
    div{
        margin-left: 15%;
        margin-right: 13%;
    }
    
    h2{
    margin-top: 20px;
    font-family: $tipografia;
    }
}