form{
        text-align: $texto;
        font-family: $tipografia;
        color: $color1;
        font-style: $estilo;
        font-size: 20px;
        margin-left: $margen;
        margin-right: $margen;
    
    label{
        display: block;
    }
    input{
        width: 100%;
    }
}
