$posicionImagen: absolute;

body{
    background: rgb(146, 54, 100);
}

header{
    display: inline-block;
    width: 100%;
}
header a{
    transition: all 2s;
}
header a:hover{
    transform: rotateZ(360deg);
}
header div{
    text-align: center;
}

h1{ 
    font-stretch: condensed;
    font-style: oblique;
    font-family:  'Alegreya SC', serif;
    font-size: 300%;
    font-weight: 500;
    text-align: center;
    color: black;
    width: auto;
}


.titulos:hover{
    color: $colorNegro;
    transform: scale(1.2);
}
.imagenHome{
    display: grid;
    position: $posicionImagen;
    z-index: -1;
}
.textoHome{
    display: grid;
    position: $posicionImagen;
    z-index: 1;
}
h2{
    font-family: 'Alegreya SC', serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
p{
    font-style: $estilo;
    font-family: $tipografia;
    font-size: 18px;
}