
main{
    background-color: white;
}
.card-body{
    color: $colorVioleta;
    justify-content: center;
}
.oferta{
    text-align: center;
    background-color: rgb(231, 235, 8);
    color:$colorVioleta ;
    font-weight: 900;
}
h3{
    font-family: $tipografia;
    font-weight: 500;    
}
.contenidoVinos{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:"area1"
                        "area2"
                        "area3"
                        "area4"
                        "area5"
                        "area6"
                        "area7"
                        "area8";
    justify-content: $contenidoVino;
    column-gap: 5px;
    row-gap: 5px;
    

    @for $i from 1 through 8{
        &__caja-#{$i}{
            grid-area: area#{$i};
            width: $anchoVinos;
            height: $altoVinos;
            display: flex;
            flex-direction: $filaVino;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: space-evenly;
    }      
    
}
.boton{
    padding-left: 28px;
}
}

.subtitulos{
    font-style: italic;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    background-color: $colorNegro;
    margin-top: 10px;
    border-top: solid;
    border-bottom: solid;
    font-family: $tipografia;
    border-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
.promociones{
    text-align: center;
}
.tituloPromociones{
    color:$colorBlanco;
}

