
footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: $colorNegro;
    

    .derechos{
        color: $colorBlanco;
        text-align: center;
        justify-content: start;
        margin-top: 10px;    
}
    .ubicacion{
        margin-top: 10px;    
        color: $colorBlanco;
}
    .siguenos{
        margin-top: 10px;    
        color: $colorBlanco;
        text-align: center;
}
    div ul {
        list-style-type: none;
        margin-top: 10px;    
}
    .redes{
        display: inline-flex;
        align-items: start;
}
}
