.navegador{
    margin-bottom:10px ;
    
    .navegador__lista{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;        
    }

    .navegador__item{
        text-align: center;
        font-family: $tipografia;
        font-size: 20px;
        background-color:black;
        color: black;
        border: solid 1px;
        width: 100%;
        transition: 0.5s;
        font-stretch: condensed;
        font-style: oblique;
        height: 35px;
        

    }

    .navegador__link{
        text-decoration:none;
        color: white;
        font-family: $tipografia;
        font-stretch: condensed;
        font-style: italic;
    }
    
    .navegador__item:hover{
        background-color: $colorRosa;
        transform: unset;
    }
    .navegador__link:hover{
        color: $colorVioleta;
    }
}