nav{
    margin-bottom:10px ;
    
    ul{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;        
    }

    li{
        text-align: center;
        font-family: $tipografia;
        font-size: 20px;
        background-color:$color1;
        color: $color1;
        border: solid 1px;
        width: 100%;
        transition: 0.5s;
        font-stretch: condensed;
        font-style: oblique;
        height: 35px;
    }

    a{
        text-decoration:none;
        color: $color2;
        font-family: $tipografia;
        font-stretch: condensed;
        font-style: $estilo;
    }
    
    
    li:hover{
        background-color: $color4;
        transform: unset;
    }
    
    a:hover{
        color: $color3;
    }
}