body {
  background: #923664; }

header {
  display: inline-block;
  width: 100%; }

header a {
  transition: all 2s; }

header a:hover {
  transform: rotateZ(360deg); }

header div {
  text-align: center; }

h1 {
  font-stretch: condensed;
  font-style: oblique;
  font-family: 'Alegreya SC', serif;
  font-size: 300%;
  font-weight: 500;
  text-align: center;
  color: black;
  width: auto; }

.titulos:hover {
  color: black;
  transform: scale(1.2); }

.imagenHome {
  display: grid;
  position: absolute;
  z-index: -1; }

.textoHome {
  display: grid;
  position: absolute;
  z-index: 1; }

h2 {
  font-family: 'Alegreya SC', serif;
  color: white;
  font-size: 30px;
  text-align: center; }

p {
  font-style: italic;
  font-family: "Alegreya SC", serif;
  font-size: 18px; }

.contenidoBodegas {
  display: flex;
  flex-direction: column; }
  .contenidoBodegas .contenidoBodegas__imagenBodega {
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 15px 9px 15px -2px rgba(0, 0, 0, 0.75); }
  .contenidoBodegas .contenidoBodegas__textoBodegas {
    margin-left: 15%;
    margin-right: 13%; }

main {
  background-color: white; }

.card-body {
  color: #923664;
  justify-content: center; }

.oferta {
  text-align: center;
  background-color: #e7eb08;
  color: #923664;
  font-weight: 900; }

h3 {
  font-family: 'Alegreya SC', serif;
  font-weight: 500; }

.contenidoVinos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8";
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px; }
  .contenidoVinos__caja-1 {
    grid-area: area1;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__centradoVino {
    justify-content: center; }
  .contenidoVinos__caja-2 {
    grid-area: area2;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__centradoVino {
    justify-content: center; }
  .contenidoVinos__caja-3 {
    grid-area: area3;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__centradoVino {
    justify-content: center; }
  .contenidoVinos__caja-4 {
    grid-area: area4;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__centradoVino {
    justify-content: center; }
  .contenidoVinos__caja-5 {
    grid-area: area5;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__centradoVino {
    justify-content: center; }
  .contenidoVinos__caja-6 {
    grid-area: area6;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__centradoVino {
    justify-content: center; }
  .contenidoVinos__caja-7 {
    grid-area: area7;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__centradoVino {
    justify-content: center; }
  .contenidoVinos__caja-8 {
    grid-area: area8;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__centradoVino {
    justify-content: center; }
  .contenidoVinos .boton {
    padding-left: 28px; }

.subtitulos {
  font-style: italic;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  background-color: black;
  margin-top: 10px;
  border-top: solid;
  border-bottom: solid;
  font-family: 'Alegreya SC', serif;
  border-color: white;
  padding-bottom: 10px;
  padding-top: 10px; }

.promociones {
  text-align: center; }

.sugerencia__imagenSugerencia {
  display: flex;
  flex-direction: column;
  border-radius: 0px 41px 41px 41px;
  border: 6px solid; }

.sugerencia__textoSugerencia {
  margin-left: 15%;
  margin-right: 13%; }

label {
  display: block; }

form {
  text-align: center;
  font-family: "Alegreya SC", serif;
  color: black;
  font-style: italic;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%; }

form div input {
  width: 100%; }

.navegador {
  margin-bottom: 10px; }
  .navegador .navegador__lista {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; }
  .navegador .navegador__item {
    text-align: center;
    font-family: 'Alegreya SC', serif;
    font-size: 20px;
    background-color: black;
    color: black;
    border: solid 1px;
    width: 100%;
    transition: 0.5s;
    font-stretch: condensed;
    font-style: oblique; }
  .navegador .navegador__link {
    text-decoration: none;
    color: white;
    font-family: 'Alegreya SC', serif;
    font-stretch: condensed;
    font-style: italic; }
  .navegador .navegador__item:hover {
    background-color: #FF94C9;
    transform: unset; }
  .navegador .navegador__link:hover {
    color: #923664; }

.estiloFooter {
  display: flex;
  background-color: black;
  color: white;
  width: auto; }
  .estiloFooter .estiloFooter__textoFooter {
    text-align: center;
    width: 100%;
    justify-content: flex-end; }

@media only screen and (max-width: 600px) {
  .encabezado {
    flex-direction: row;
    align-items: center;
    width: 100%; }
  .navegador__lista {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly; }
  .imagenHome {
    height: 100%;
    width: 100%;
    position: relative; }
  .contenidoVinos {
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    column-gap: 5px; }
  .sugerencia__imagenSugerencia {
    max-width: 80%;
    margin: 0 auto; }
  .contenidoVinos__caja-1 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-2 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-3 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-4 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-5 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-6 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-7 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-8 {
    flex-direction: column;
    align-items: center;
    height: 100%; } }

@media only screen and (min-width: 600px) {
  .encabezado {
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }
  .navegador__lista {
    flex-direction: row;
    height: 90%;
    align-items: center; }
  .imagenHome {
    height: 100%;
    width: 100%;
    position: relative; }
  .contenidoVinos {
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    column-gap: 5px; }
  .imagenBodega {
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 15px 9px 15px -2px rgba(0, 0, 0, 0.75); }
  .sugerencia__imagenSugerencia {
    max-width: 80%;
    margin: 0 auto; } }

@media only screen and (min-width: 1024px) {
  .encabezado {
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }
  .navegador__lista {
    flex-direction: row;
    height: 90%;
    align-items: center; }
  .imagenHome {
    height: 100%;
    width: 100%;
    position: relative; }
  .contenidoVinos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "area1 area2" "area3 area4" "area5 area6" "area7 area8";
    justify-items: start;
    column-gap: 5px;
    row-gap: 5px; }
  .imagenBodega {
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 15px 9px 15px -2px rgba(0, 0, 0, 0.75); }
  .sugerencia__imagenSugerencia {
    max-width: 80%;
    margin: 0 auto; } }
