body {
  background: #923664; }

header {
  display: inline-block;
  width: 100%; }

header div {
  text-align: center; }

h1 {
  font-stretch: condensed;
  font-style: oblique;
  font-family: "Alegreya SC", serif;
  font-size: 300%;
  font-weight: 500;
  text-align: center;
  color: black;
  width: auto;
  padding-bottom: 35px; }

h2 {
  font-family: "Alegreya SC", serif;
  color: black;
  font-size: 30px;
  text-align: center; }

p {
  font-style: italic;
  font-family: "Alegreya SC", serif;
  font-size: 18px; }

section {
  display: flex;
  flex-direction: column;
  margin-top: 15px; }
  section img {
    max-width: 80%;
    margin: auto;
    box-shadow: 15px 9px 15px -2px rgba(0, 0, 0, 0.75);
    margin-top: 15px; }
  section div {
    margin-left: 15%;
    margin-right: 13%; }
  section h2 {
    margin-top: 20px;
    font-family: "Alegreya SC", serif; }

main {
  background-color: white; }

.card-body {
  color: #923664;
  justify-content: center; }

.oferta {
  text-align: center;
  background-color: #e7eb08;
  color: #923664;
  font-weight: 900; }

h3 {
  font-family: "Alegreya SC", serif;
  font-weight: 500; }

.contenidoVinos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8";
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px; }
  .contenidoVinos__caja-1 {
    grid-area: area1;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__caja-2 {
    grid-area: area2;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__caja-3 {
    grid-area: area3;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__caja-4 {
    grid-area: area4;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__caja-5 {
    grid-area: area5;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__caja-6 {
    grid-area: area6;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__caja-7 {
    grid-area: area7;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos__caja-8 {
    grid-area: area8;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly; }
  .contenidoVinos .boton {
    padding-left: 28px; }

.subtitulos {
  font-style: italic;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  background-color: black;
  margin-top: 10px;
  border-top: solid;
  border-bottom: solid;
  font-family: "Alegreya SC", serif;
  border-color: white;
  padding-bottom: 10px;
  padding-top: 10px; }

.promociones {
  text-align: center; }

.tituloPromociones {
  color: white; }

.articulo-1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px; }

.imagenSugerencia {
  align-items: baseline;
  max-width: 90%;
  margin-top: 10px;
  margin: auto;
  box-shadow: 15px 9px 15px -2px rgba(0, 0, 0, 0.75); }

.contenidoSugerencia {
  margin-top: 50px;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%; }

.articulo-2 {
  display: flex;
  margin-top: 20px;
  flex-direction: row-reverse;
  font-family: "Alegreya SC", serif;
  margin-right: 10px; }

label {
  display: block; }

form {
  text-align: center;
  font-family: "Alegreya SC", serif;
  color: black;
  font-style: italic;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%; }

form div input {
  width: 100%; }

nav {
  margin-bottom: 10px; }
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; }
  nav li {
    text-align: center;
    font-family: "Alegreya SC", serif;
    font-size: 20px;
    background-color: black;
    color: black;
    border: solid 1px;
    width: 100%;
    transition: 0.5s;
    font-stretch: condensed;
    font-style: oblique;
    height: 35px; }
  nav a {
    text-decoration: none;
    color: white;
    font-family: "Alegreya SC", serif;
    font-stretch: condensed;
    font-style: italic; }
  nav li:hover {
    background-color: #FF94C9;
    transform: unset; }
  nav a:hover {
    color: #923664; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black; }
  footer .derechos {
    color: white;
    text-align: center;
    justify-content: start;
    margin-top: 10px; }
  footer .ubicacion {
    margin-top: 10px;
    color: white; }
  footer .siguenos {
    margin-top: 10px;
    color: white;
    text-align: center; }
  footer div ul {
    list-style-type: none;
    margin-top: 10px; }
  footer .redes {
    display: inline-flex;
    align-items: start; }

@media only screen and (max-width: 600px) {
  footer {
    align-items: center;
    flex-direction: column; }
  ul {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly; }
  .redes {
    flex-direction: row; }
  .contenidoVinos {
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    column-gap: 5px; }
  .contenidoVinos__caja-1 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-2 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-3 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-4 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-5 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-6 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-7 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .contenidoVinos__caja-8 {
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .imagenSugerencia {
    align-items: baseline;
    max-width: 80%;
    margin: auto;
    margin-top: 10px; }
  .articulo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .articulo-2 {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media only screen and (min-width: 600px) {
  ul {
    flex-direction: row;
    height: 90%;
    align-items: center; }
  .contenidoVinos {
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    column-gap: 5px; }
  .imagenSugerencia {
    align-items: baseline;
    max-width: 80%;
    margin: auto;
    margin-top: 10px; }
  .articulo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .articulo-2 {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media only screen and (min-width: 1024px) {
  .contenidoVinos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "area1 area2" "area3 area4" "area5 area6" "area7 area8";
    justify-items: start;
    column-gap: 5px;
    row-gap: 5px; }
  .imagenBodega {
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 15px 9px 15px -2px rgba(0, 0, 0, 0.75); }
  .articulo-1 {
    display: flex;
    flex-direction: row; }
  .imagenSugerencia {
    align-items: baseline;
    max-width: 90%; }
  .articulo-2 {
    display: flex;
    margin-top: 20px;
    flex-direction: row-reverse;
    font-family: "Alegreya SC", serif;
    font-size: 18px;
    font-style: italic; } }
