@import "../utilities/mixin";


@media only screen and (max-width: 600px){
    .encabezado{
        flex-direction: row;
        align-items: $texto;
        width: 100%;
    }
    .navegador__lista{
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
    .imagenHome{
        @include imagenIndex(100% , 100% , relative )
    }
    .contenidoVinos{
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
        column-gap: 5px;
    }
    .sugerencia__imagenSugerencia{
        max-width: 80%;
        margin:0 auto;
    }
    .contenidoVinos__caja-1{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-2{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-3{
        flex-direction: column;
        align-items: center;
        height: 100%;

    }
    .contenidoVinos__caja-4{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-5{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-6{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-7{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-8{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}