
@media only screen and (max-width: 600px){
    
    footer{
        align-items: center;
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
    .redes{
        flex-direction: row;
    }

    .contenidoVinos{
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
        column-gap: 5px;
    }
    
    .contenidoVinos__caja-1{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-2{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-3{
        flex-direction: column;
        align-items: center;
        height: 100%;

    }
    .contenidoVinos__caja-4{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-5{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-6{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-7{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contenidoVinos__caja-8{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    
    .imagenSugerencia{
        align-items: baseline;
        max-width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    .articulo-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .articulo-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}