@import "../utilities/mixin";

@media only screen and (min-width: 600px){

    
    .navegador__lista{
        flex-direction: row;
        @include nabvar(90% , center )
    }
    
    .contenidoVinos{
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
        column-gap: 5px;
    }
    .imagenBodega{
        max-width: 80%;
        margin: 0 auto;
        box-shadow: $sombras;
    }
    .imagenSugerencia{
        align-items: baseline;
        max-width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    .articulo-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .articulo-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}