$colorNegro : black;
$colorBlanco: white;
$colorVioleta: rgb(146, 54, 100);
$colorGradiant: linear-gradient(90deg, rgba(232,195,214,1) 18%, rgba(228,121,174,1) 52%, rgba(146,54,100,1) 100%);
$colorRosa: #FF94C9;
$colorSegundo: rgb(255, 255, 255);