$tipografia:  'Alegreya SC', serif;
$texto:  center;
$estilo:  italic; 
$textoBodegas: center;
$margen: 20%;
$posicionImagen: absolute;
$contenidoVino: center;
$altoVinos: 95%;
$anchoVinos: 95%;
$filaVino: row;